:root {
    --theme-color: rgb(211, 0, 0);
    --basic-font-size: 18px;
    --basic-font-size-mobile: 13px;
}

body {
    font-family: 'roboto', sans-serif;
    height: 100%;
    margin: 0 auto;
}

.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
}

.header__name {
    text-decoration: none;
    color: var(--theme-color);
    font-size: 23px;
}

.header__info {
    display: flex;
}

.header__info-item {
    margin: 0 5px;
}

.header__link {
    text-decoration: none;
    color: black;
    font-size: var(--basic-font-size);
}

.header__link:hover {
    color: var(--theme-color);
}

.header__link:active {
    color: black;
}

.header__button {
    display: none;
}

.header__burger {
    width: 25px;
}

.introduction {
    display: flex;
    max-height: 700px;
}

.introduction__image {
    width: 40%;
    background-color: transparent;
    object-fit: cover;
}

.introduction__info {
    width: 60%;
    display: grid;
    grid-template-rows: 3fr 3fr 1fr;
}

.introduction__title {
    margin: 0 auto;
    align-self: end;
    font-size: 32px;
}

.introduction__description {
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    width: 60%;
    font-size: var(--basic-font-size);
}

.introduction__contact-button {
    margin: 0 auto;
    background-color: transparent;
    width: 30%;
    padding: 10px 0;
    color: black;
    border: 1px solid black;
    align-self: end;
    cursor: pointer;
}

.introduction__contact-button:hover {
    border: none;
    background-color: black;
    color: white;
    transition: 0.5s;
}

.introduction__contact-button:active {
    border: 1px solid black;
    background-color: transparent;
    color: black;
    transition: 0s;
}

.works {
    width: 100%;
    margin: 100px 0 0;
    position: relative;
    padding: 0 10% 0;
    box-sizing: border-box;
}

.works::before {
    content: "";
    position: absolute;
    background-color: black;
    background-repeat: no-repeat;
    width: 50%;
    height: 0.7px;
    top: -50px;
    left: 25%;
    right: -25%;
}

.works__title {
    text-align: left;
    font-size: 23px;
    color: var(--theme-color);
}

.works__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin: 20px 0 50px;
    width: 100%;
    text-align: center;
}

.works__item {
    margin: 30px 0 0;
}

.works__preview {
    width: 100%;
    padding: 0 0 20px;
}

.works__link {
    text-decoration: underline;
    color: black;
    font-size: 23px;
}

.footer {
    background-color: black;
    padding: 30px 10% 25px;
    height: 80px;
}

.footer__text {
    color: white;
    padding: 0 0 25px;
    font-size: var(--basic-font-size);
}

.footer__link {
    padding: 0 15px 0 0;
    text-decoration: none;
}

.footer__icon {
    width: 25px;
    height: 25px;
}

.footer__icon:hover {
    opacity: 0.7;
}

.about {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 10%;
    box-sizing: border-box;
}

.about__description {
    display: block;
    width: 30%;
    padding: 15% 0 0;
}

.about__series {
    width: 50%;
    position: relative;
}

.about__image {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.about__image_hidden {
    display: none;
}

.about__arrow {
    width: 10%;
    position: absolute;
    top: 40%;
    cursor: pointer;
}

.about__arrow__left {
    left: -15%;
}

.about__arrow__right {
    right: -15%;
}

@media (max-width: 580px) {
    .header__name {
        font-size: 18px;
    }

    .header__info {
        display: none;
    }

    .header__button {
        display: block;
        background-color: transparent;
    }

    .introduction__title {
        font-size: 23px;
    }

    .introduction__description {
        font-size: var(--basic-font-size-mobile);
    }

    .introduction__contact-button {
        width: 40%;
        padding: 3px 0;
    }

    .works {
        margin: 50px 0 0;
    }

    .works::before {
        top: -25px;
    }

    .works__title {
        font-size: 18px;
        text-align: center;
    }

    .works__list {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 0 0 30px;
    }

    .works__preview {
        padding: 0 0 10px;
    }

    .works__link {
        font-size: 16px;
    }

    .footer {
        background-color: black;
        padding: 20px 10% 25px;
        height: 50px;
    }

    .footer__text {
        font-size: var(--basic-font-size-mobile);
        padding: 0 0 15px;
    }

    .footer__icon {
        width: 15px;
        height: 15px;
    }
}